body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: blanchedalmond;
}

.buttons{
    display: flex;
    justify-content:space-around;
    margin: 50px;
}

button{
    border-radius: 10px;
    padding:10px;   
    margin: 10px;
    font-size: 18px;
    width: 100px;
    height: 100px;
}

button:hover{
    transform: scale(1.2);
}

.ans-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.ans{
    display: flex;
    width: 50%;
    height: 40%;
    background-color: whitesmoke;
    border: 4px black solid;
    border-radius: 10px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.score{
    border: 4px;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
}

.rock{
    background-color: saddlebrown;
}

.paper{
    background-color: white;
}

.scissors{
    background-color: slategray;
}

.new-game{
    background-color: paleturquoise;
}
