body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.buttons{
    display: flex;
    justify-content:space-around;
    margin: 50px;
}

button{
    border-radius: 3px;
    margin: 10px;
}


.ans-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.ans{
    width: 400px;
    height: 200px;
    background-color: whitesmoke;
    border: 4px black solid;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

.score{
    border: 3px;
    font-size: 30px;
    margin: 20px;
}

